LOLAccountManagement/Test Interface Console/Service References/LOLConnect/LOLConnect32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6082/LOLConnect.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:6082/LOLConnect.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LOLAccountManagement" />
  <xs:import schemaLocation="http://localhost:6082/LOLConnect.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:6082/LOLConnect.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/LOLAccountManagement.Classes.DtoObjects" />
  <xs:element name="AuthenticationTokenGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticationTokenGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="AuthenticationTokenGetResult" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceID" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="deviceType" type="q2:Device.DeviceTypes" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="accountID" type="q3:guid" />
        <xs:element minOccurs="0" name="oAuthID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="oAuthType" type="q4:AccountOAuth.OAuthTypes" />
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="UserLoginResult" nillable="true" type="q6:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceID" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="deviceType" type="q7:Device.DeviceTypes" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="oAuthType" type="q8:AccountOAuth.OAuthTypes" />
        <xs:element minOccurs="0" name="oAuthID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oAuthToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="picture" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="dateOfBirth" type="xs:dateTime" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="UserCreateResult" nillable="true" type="q10:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGetSpecific">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="accountID" type="q11:guid" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="targetAccountID" type="q12:guid" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q13:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGetSpecificResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="UserGetSpecificResult" nillable="true" type="q14:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="user" nillable="true" type="q15:User" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q16:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="UserSaveResult" nillable="true" type="q17:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceID" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="accountID" type="q18:guid" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q19:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="UserLogOutResult" nillable="true" type="q20:ArrayOfGeneral.Error" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGetResetToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q21:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGetResetTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="UserGetResetTokenResult" type="q22:General.Error" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserPasswordReset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resetToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q23:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserPasswordResetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="UserPasswordResetResult" nillable="true" type="q24:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserValidateResetToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resetToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q25:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserValidateResetTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="UserValidateResetTokenResult" type="q26:General.Error" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountOAuthCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="accountID" type="q27:guid" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="oAuthType" type="q28:AccountOAuth.OAuthTypes" />
        <xs:element minOccurs="0" name="oAuthID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q29:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountOAuthCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="AccountOAuthCreateResult" nillable="true" type="q30:AccountOAuth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactsGetUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="accountID" type="q31:guid" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="currentContacts" nillable="true" type="q32:ArrayOfguid" />
        <xs:element minOccurs="0" name="lastCallDate" type="xs:dateTime" />
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q33:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactsGetUpdatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="ContactsGetUpdatedResult" type="q34:LOLConnect.ContactUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactsSearchList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="searchCriteria" nillable="true" type="q35:ArrayOfLOLConnect.SearchCriteria" />
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="accountID" type="q36:guid" />
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q37:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactsSearchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="ContactsSearchListResult" nillable="true" type="q38:ArrayOfLOLConnect.SearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactsSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="searchCriteria" type="q39:LOLConnect.SearchCriteria" />
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="accountID" type="q40:guid" />
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q41:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactsSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="ContactsSearchResult" nillable="true" type="q42:ArrayOfLOLConnect.SearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactsGetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="accountID" type="q43:guid" />
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="excludeAccountIDs" nillable="true" type="q44:ArrayOfguid" />
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q45:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactsGetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="ContactsGetListResult" nillable="true" type="q46:ArrayOfContact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="contactAccountID" type="q47:guid" />
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="accountID" type="q48:guid" />
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q49:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="ContactGetResult" nillable="true" type="q50:Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactsSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="contact" nillable="true" type="q51:Contact" />
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q52:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactsSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="ContactsSaveResult" nillable="true" type="q53:Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactsSaveList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="contacts" nillable="true" type="q54:ArrayOfContact" />
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q55:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactsSaveListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="ContactsSaveListResult" nillable="true" type="q56:ArrayOfContact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactsDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="contactID" type="q57:guid" />
        <xs:element xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="accountID" type="q58:guid" />
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q59:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactsDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="ContactsDeleteResult" nillable="true" type="q60:ArrayOfGeneral.Error" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactsSendInviteEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="inviteEmails" nillable="true" type="q61:ArrayOfLOLConnect.InviteEmail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactsSendInviteEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ContentPacksGetByTypeAndAccountID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="accountID" type="q62:guid" />
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="contentPackType" type="q63:ContentPack.ContentPackType" />
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="excludeContentPackIDs" nillable="true" type="q64:ArrayOfint" />
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q65:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContentPacksGetByTypeAndAccountIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="ContentPacksGetByTypeAndAccountIDResult" nillable="true" type="q66:ArrayOfContentPack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContentPacksGetByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="accountID" type="q67:guid" />
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="contentPackType" type="q68:ContentPack.ContentPackType" />
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q69:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContentPacksGetByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="ContentPacksGetByTypeResult" nillable="true" type="q70:ArrayOfContentPack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContentPackItemGetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contentPackItemID" type="xs:int" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="itemSize" type="q71:ContentPackItem.ItemSize" />
        <xs:element xmlns:q72="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="accountID" type="q72:guid" />
        <xs:element xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q73:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContentPackItemGetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/LOLAccountManagement.Classes.DtoObjects" minOccurs="0" name="ContentPackItemGetDataResult" nillable="true" type="q74:ContentPackItemDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContentPackGetPackItemsLight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contentPackID" type="xs:int" />
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="itemSize" type="q75:ContentPackItem.ItemSize" />
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="excludeContentPackItemIDs" nillable="true" type="q76:ArrayOfint" />
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="accountID" type="q77:guid" />
        <xs:element xmlns:q78="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q78:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContentPackGetPackItemsLightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/LOLAccountManagement.Classes.DtoObjects" minOccurs="0" name="ContentPackGetPackItemsLightResult" nillable="true" type="q79:ContentPackItemListDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContentPackGetPackItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contentPackID" type="xs:int" />
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="itemSize" type="q80:ContentPackItem.ItemSize" />
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="excludeContentPackItemIDs" nillable="true" type="q81:ArrayOfint" />
        <xs:element xmlns:q82="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="accountID" type="q82:guid" />
        <xs:element xmlns:q83="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q83:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContentPackGetPackItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="ContentPackGetPackItemsResult" nillable="true" type="q84:ArrayOfContentPackItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContentPackGetItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contentPackItemID" type="xs:int" />
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="itemSize" type="q85:ContentPackItem.ItemSize" />
        <xs:element xmlns:q86="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="accountID" type="q86:guid" />
        <xs:element xmlns:q87="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q87:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContentPackGetItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="ContentPackGetItemResult" nillable="true" type="q88:ContentPackItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContentPackGetItemLight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contentPackItemID" type="xs:int" />
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="itemSize" type="q89:ContentPackItem.ItemSize" />
        <xs:element xmlns:q90="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="accountID" type="q90:guid" />
        <xs:element xmlns:q91="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q91:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContentPackGetItemLightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="ContentPackGetItemLightResult" nillable="true" type="q92:ContentPackItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContentPackGetItemIcon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contentPackItemID" type="xs:int" />
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="itemSize" type="q93:ContentPackItem.ItemSize" />
        <xs:element xmlns:q94="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="accountID" type="q94:guid" />
        <xs:element xmlns:q95="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q95:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContentPackGetItemIconResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/LOLAccountManagement.Classes.DtoObjects" minOccurs="0" name="ContentPackGetItemIconResult" nillable="true" type="q96:ContentPackItemDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTestData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTestDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="deviceType" type="q97:Device.DeviceTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVersionNumberResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGetImageData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="accountID" type="q98:guid" />
        <xs:element xmlns:q99="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="requestedAccountID" type="q99:guid" />
        <xs:element xmlns:q100="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q100:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGetImageDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/LOLAccountManagement.Classes.DtoObjects" minOccurs="0" name="UserGetImageDataResult" nillable="true" type="q101:UserImageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>