LOLAccountManagement/Test Interface/Service References/LOLService/LOLConnect2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6082/LOLConnect.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LOLAccountManagement" />
  <xs:element name="BlankDataAccessGetByText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlankDataAccessGetByTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="BlankDataAccessGetByTextResult" nillable="true" type="q1:ArrayOfBlankDataAccess" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlankDataAccessGetSpecific">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="blankID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlankDataAccessGetSpecificResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="BlankDataAccessGetSpecificResult" nillable="true" type="q2:BlankDataAccess" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LookupsSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="blankDataAccess" nillable="true" type="q3:BlankDataAccess" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LookupsSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="LookupsSaveResult" nillable="true" type="q4:BlankDataAccess" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlankDataAccessDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="blankDataAccess" nillable="true" type="q5:BlankDataAccess" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlankDataAccessDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LOLAccountManagement" minOccurs="0" name="BlankDataAccessDeleteResult" nillable="true" type="q6:ArrayOfGeneral.Error" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>